[submodule "dwm"]
	path = dwm
	url = http://github.com/toasterbirb/dwm
[submodule "dmenu"]
	path = dmenu
	url = http://github.com/toasterbirb/dmenu
[submodule "dwmblocks"]
	path = dwmblocks
	url = https://github.com/toasterbirb/dwmblocks
[submodule "slock"]
	path = slock
	url = https://github.com/toasterbirb/slock
